.todo__header {
  width: 60%;
  margin: 0 auto;
  padding: 0 20%;
  background: #20232a;
  color: #61dafb;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-around;
}

.todo__header_input {
  width: 60%;
  height: 24px;
  background: #20232a;
  color: #fff;
  text-indent: 10px;
  border: none;
  display: block;
  margin: 17px 0;
}

.todo__list {
  color: #61dafb;
  width: 60%;
  padding: 0;
  margin: 1rem auto;
}

.todo__list_nav {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.todo__item {
  position: relative;
  background: #fff;
  border-radius: 3px;
  border-left: 5px solid #61dafb;
  margin-bottom: 15px;
}

.todo__checkbox {
  width: 22px;
  height: 22px;
  margin: 0 0 0 12px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.todo__delete {
  position: absolute;
  top: 6.5px;
  right: 10px;
  color: #000;
  color: #fff;
  background-color: #61dafb;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
}

.todo__delete:hover {
  background-color: #f7f7f7;
  color: #61dafb;
}

.todo__item_value {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.todo__log {
  color: #20232a;
  font-size: 14px;
  text-align: center;
}

.todo__footer {
  width: 60%;
  margin: 0 auto;
  color: #61dafb;
}

@media screen and (max-width: 650px) {
  .header {
    width: 100%;
    padding: 0;
  }
  .todo__list,
  .todo__footer {
    width: 90%;
  }
}
